anthropic==0.109.1
pysqlite3-binary
chromadb==1.5.9
fastapi==0.115.12
uvicorn==0.34.3
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-dotenv==1.1.0
pdfplumber==0.11.8
python-multipart==0.0.20
